---
import BaseLayout from './BaseLayout.astro';
import Header from '@/components/layout/Header';
import Footer from '@/components/layout/Footer';

interface Props {
  title: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  nofollow?: boolean;
}

const { title, description, image, noindex, nofollow } = Astro.props;
---

<BaseLayout title={title} description={description} image={image} noindex={noindex} nofollow={nofollow}>
  <Header client:load transition:persist="site-header" />
  <main class="pt-20 min-h-screen">
    <slot />
  </main>
  <Footer client:visible />
</BaseLayout>
